.vs/
bin/
obj/
*.user
*.suo
*.binlog
.~lock.*#

/merged.txt
/newtest.csv
/shablon.txt
/smol.txt
/test.csv
/test2.csv

/regexFinder/blueprint.yaml
/regexFinder/msbuild-log.txt
/regexFinder/packages/
/regexFinder/results/
/regexFinder/tests/
